body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ChunkFive";
  src: url(./fonts/ChunkFive.woff) format("woff");
}

@font-face {
  font-family: "Gentium Basic";
  src: url(./fonts/GentiumBasic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gentium Basic";
  font-style: italic;
  src: url(./fonts/GentiumBasic-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "EncodeSans Condensed";
  src: url(./fonts/EncodeSans_Condensed-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "EncodeSans SemiCondensed";
  src: url(./fonts/EncodeSans_SemiCondensed-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "EncodeSans";
  src: url(./fonts/EncodeSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "EncodeSans SemiExpanded";
  src: url(./fonts/EncodeSans_SemiExpanded-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "EncodeSans Expanded";
  src: url(./fonts/EncodeSans_Expanded-Regular.ttf) format("truetype");
}
